{% extends 'base.html.twig' %}

{% block title %}Comment
{% endblock %}

{% block body %}

	<div
		class="container-fluid d-flex flex-column vh-100 p-2">
		<!-- Utilisez les classes "container-fluid", "d-flex", "flex-column" et "vh-100" -->
		<div
			class="row flex-grow-1">
			<!-- Utilisez la classe "flex-grow-1" pour que la row prenne toute la hauteur disponible -->
			<div
				class="d-flex align-items-stretch">
				<!-- Contenu de la première colonne -->
				{% include 'components/sidebar.html.twig' %}
				<!-- Contenu de la deuxième colonne -->
				<div class="col-md-6 border-start border-end border-white p-2 overflow-auto">
					<ul class="list-group list-group-flush">
						<a class="text-decoration-none text-dark">
							<li
								class="list-group-item">
								<!-- Contenu du commentaire -->
								<div class="d-flex align-items-start">
									<a href="{{ path('app_user_profil', {id: comment.auteur.id}) }}">
										<img src="{{ comment.auteur.ProfilPicture }}" alt="Avatar" class="rounded-circle" style="width: 50px; height: 50px;">
									</a>
									<div class="ms-3 w-100">
										<div class="d-flex justify-content-between align-items-center">
											<div>
												<strong>{{ comment.auteur.nom }}</strong>
												<span class="text-muted">@{{ comment.auteur.username }}</span>
											</div>
											<div class="text-muted">
												<small>{{ comment.createdAt|date('d/m/Y H:i') }}</small>
											</div>
										</div>
										<p class="mt-2">{{ comment.contenu }}</p>
										<div class="d-flex justify-content-start">
											<a href="#" class="btn btn-link p-0 me-4" style="text-decoration: none;">
												<i class="bi bi-chat"></i>
											</a>
											<a href="#" class="btn btn-link p-0 me-4" style="text-decoration: none;">
												<i class="bi bi-heart"></i>
											</a>
											<a href="#" class="btn btn-link p-0" style="text-decoration: none;">
												<i class="bi bi-share"></i>
											</a>
										</div>
									</div>
								</div>
							</li>
						</a>
					</ul>
				</div>
				<!-- Contenu de la troisième colonne -->
				{% include 'components/right-sidebar.html.twig' %}
			</div>
		</div>
	</div>

{% endblock %}

