{% extends 'base.html.twig' %}

{% block title %}Home
{% endblock %}
{% block body %}

	<div
		class="container-fluid d-flex flex-column vh-100 p-2">
		<!-- Utilisez les classes "container-fluid", "d-flex", "flex-column" et "vh-100" -->
		<div
			class="row flex-grow-1">
			<!-- Utilisez la classe "flex-grow-1" pour que la row prenne toute la hauteur disponible -->
			<div
				class="d-flex align-items-stretch">
				<!-- Contenu de la première colonne -->
				{% include 'components/sidebar.html.twig' %}
				<!-- Contenu de la deuxième colonne -->
				<div
					class="col-md-6 border-start border-end border-white d-flex flex-column p-2 overflow-auto">
					{% if is_granted('IS_AUTHENTICATED_REMEMBERED') %}
						<div>
							<h3 class="align-self-center">Welcome Back, {{ app.user.nom }}!</h3>
						</div>
					{% endif %}
					<ul class="list-unstyled">
                    <!-- Faire en sorte d'aggrandir la zone de texte et d'alligner correctement le bouton  -->
					{% for publication in publications %}
						<div class="card">
							<div class="card-header">
								<a href="{{ path('app_user_profil', {id: publication.auteur.id}) }}" style="text-decoration: none; color: inherit;">
									<ul class="list-unstyled d-flex">
										<li class="p-2">
												<img src="{{publication.auteur.ProfilPicture}}" alt="Avatar" class="rounded-circle" style="width: 50px; height: 50px;">
										</li>
										<li class="p-2">
											<p class="mb-0">{{ publication.auteur.nom }}</p>
											<p class="mb-0">@{{ publication.auteur.username }}</p>
										</li>
										<li class="p-2 d-flex align-items-center">
											<p>Posted on {{ publication.createdAt|date('d/m/Y') }} at {{ publication.createdAt|date('H:i') }}</p>
										</li>
									</ul>
								</a>
							</div>
							<a href="{{ path('app_post', {'id': publication.id}) }}" style="text-decoration: none; color: inherit;">
								<div class="card-body">
									<p>{{ publication.contenu }}</p>
									<div class="d-flex justify-content-center align-items-center">
										{% if publication.media %}
											<img class="rounded img-fluid" src="{{ publication.media }}" alt="Publication media">
										{% endif %}
									</div>
								</div>
								<div class="card-footer d-flex justify-content-center">
									<div class="mx-4">
										<a href="#" class="btn btn-link p-0" style="text-decoration: none;">
											<i class="bi bi-chat"></i>
											<span>{{ publication.commentaires|length }}</span>
									</div>
									<div  class="mx-4">
										<a class="btn btn-link p-0" style="text-decoration: none;">
											<i class="bi {{ publication.likedByCurrentUser(app.user) ? 'bi-heart-fill' : 'bi-heart' }}"></i>
											<span>{{ publication.likedBy|length }}</span>
										</a>
									</div>
									<div  class="mx-4">
										<a href="#" class="btn btn-link p-0" style="text-decoration: none;">
											<i class="bi bi-share"></i> Partager
										</a>
									</div>
								</div>
							</a>
						</div>
					{% endfor %}
					</ul>
				</div>
				<!-- Contenu de la troisieme colonne -->
				{% include 'components/right-sidebar.html.twig'%}
			</div>
		</div>
	</div>
{% endblock %}
