{% extends 'base.html.twig' %}

{% block title %}Recherche
{% endblock %}

{% block body %}

	<div class="container-fluid d-flex flex-column vh-100 p-2">
		<div class="row flex-grow-1">
			{% include 'components/sidebar.html.twig' %}
			<div class="col-md-6 offset-md-3 main-content p-2 overflow-auto">
				{% include 'components/search.html.twig' with {
						form: form
					} %}
				{% if searchData is empty %}
					<h2>Aucune recherche effectuée</h2>
				{% else %}
					<h2>Résultats de la recherche pour "{{ searchData }}"</h2>
					{% if publications is empty %}
						<p>Aucun résultat trouvé pour le terme de recherche "{{ searchData }}".</p>
					{% else %}
						<p>Il y a
							{{ publications|length }}
							publications correspondantes</p>
						{% for publication in publications %}
							<div class="card mb-3 mt-3">
								<div class="card-header">
									<a href="/profil" class="text-decoration-none text-dark">
										<div class="d-flex align-items-center">
											<img src="{{ publication.auteur.ProfilPicture }}" alt="Avatar" class="rounded-circle me-2" style="width: 50px; height: 50px;">
											<div>
												<p class="mb-0 fw-bold">{{ publication.auteur.nom }}</p>
												<p class="mb-0 text-muted">@{{ publication.auteur.username }}</p>
											</div>
											<div class="ms-auto text-muted ms-3">
												<small>{{ publication.createdAt|date('d/m/Y H:i') }}</small>
											</div>
										</div>
									</a>
								</div>
								<a href="{{ path('app_post', {'id': publication.id}) }}" class="text-decoration-none text-dark">
									<div class="card-body">
										<p class="card-text">{{ publication.contenu }}</p>
										{% if publication.media %}
											<img src="{{ publication.media }}" class="img-fluid rounded" alt="Publication media">
										{% endif %}
									</div>
									<div class="card-footer d-flex justify-content-center">
										<div class="mx-4">
											<a href="#" class="btn btn-link p-0" style="text-decoration: none;">
												<i class="bi bi-chat"></i>
												<span>{{ publication.commentaires|length }}</span>
											</a>
										</div>
										<div class="mx-4">
											<button class="btn btn-link like-btn p-0 border-0 bg-transparent text-decoration-none" data-id="{{ publication.id }}">
												<i class="bi {{ publication.likedByCurrentUser(app.user) ? 'bi-heart-fill' : 'bi-heart' }}"></i>
												<span>{{ publication.likes }}</span>
											</button>
										</div>
										<div class="mx-4">
											<div class="dropdown">
												<button class="btn btn-link p-0 dropdown-toggle text-decoration-none" type="button" id="shareDropdown" data-bs-toggle="dropdown" aria-expanded="false">
													<i class="bi bi-share"></i>
													Partager
												</button>
												<ul class="dropdown-menu p-2 shadow" aria-labelledby="shareDropdown">
													<li>
														<input type="text" class="form-control" id="shareLink" value="{{ url('app_post', {'id': publication.id}) }}" readonly>
													</li>
													<li>
														<button class="dropdown-item" onclick="copyToClipboard()">Copier le lien</button>
													</li>
												</ul>
											</div>
										</div>
									</div>
								</a>
							</div>
						{% endfor %}
					{% endif %}
				{% endif %}
				<div class="d-flex justify-content-center my-5">
					{{ knp_pagination_render(publications) }}
				</div>
			</div>
		</div>
	</div>


	<script>
		document.querySelectorAll('.like-btn').forEach(button => {
button.addEventListener('click', () => {
const publicationId = button.dataset.id;
fetch (`/like/${publicationId}`, {
method: 'POST',
headers: {
'X-CSRF-TOKEN': '{{ csrf_token('like') }}',
'Content-Type': 'application/json'
}
}).then(response => response.json()).then(data => {
if (data.likes !== undefined) {
button.querySelector('span').textContent = data.likes;
const icon = button.querySelector('i');
icon.className = icon.className.includes('bi-heart-fill') ? 'bi bi-heart' : 'bi bi-heart-fill';
}
});
});
});

function copyToClipboard() {
var copyText = document.getElementById('shareLink');
copyText.select();
copyText.setSelectionRange(0, 99999); // For mobile devices

document.execCommand("copy");

alert("Lien copié: " + copyText.value);
}
	</script>

{% endblock %}
