{% extends 'base.html.twig' %}

{% block title %}Recherche
{% endblock %}
{% block body %}

	<div
		class="container-fluid d-flex flex-column vh-100 p-2">
		<!-- Utilisez les classes "container-fluid", "d-flex", "flex-column" et "vh-100" -->
		<div
			class="row flex-grow-1">
			<!-- Utilisez la classe "flex-grow-1" pour que la row prenne toute la hauteur disponible -->
			<div
				class="d-flex align-items-stretch">
				<!-- Contenu des colonnes -->
				<div
					class="col-md-3 d-flex flex-column p-2 ">
					<!-- Contenu de la première colonne -->
					{% include 'components/sidebar.html.twig' %}

				</div>
				<div
					class="col-md-6 border-start border-end border-white d-flex flex-column p-2 overflow-auto">
					<!-- Contenu de la deuxième colonne -->

					<form class="d-flex ms-2" role="search" action="{{ path('app_recherche') }}" method="GET">
						{{ form_widget(searchForm) }}
					</form>
					<h2>Résultats de la recherche pour " {{ searchTerm }} "</h2>
					{% if publications is empty %}
						<p>Aucun résultat trouvé pour le terme de recherche " {{ searchTerm }} ".</p>
					{% else %}
						<p>Il y a
							{{ publications|length }}
							publications correspondantes</p>
						{% for publication in publications %}
							<div class="card">
								<div class="card-header">
									<a href="/profil" style="text-decoration: none; color: inherit;">
										<ul class="list-unstyled d-flex">
											<li class="p-2">
												<img src="{{publication.auteur.ProfilPicture}}" alt="Avatar" class="rounded-circle" style="width: 50px; height: 50px;">
											</li>
											<li class="p-2">
												<p class="mb-0">{{ publication.auteur.nom }}</p>
												<p class="mb-0">@{{ publication.auteur.username }}</p>
											</li>
											<li class="p-2 d-flex align-items-center">
												<p>Posté le
													{{ publication.createdAt|date('d/m/Y') }}
													à
													{{ publication.createdAt|date('H:i') }}</p>
											</li>
										</ul>
									</a>
								</div>
								<a href="{{ path('app_post', {'id': publication.id}) }}" style="text-decoration: none; color: inherit;">
									<div class="card-body">
										<p>{{ publication.contenu }}</p>
										<div class="d-flex justify-content-center align-items-center">
											{% if publication.media %}
												<img class="rounded img-fluid" src="{{ publication.media }}" alt="Publication media">
											{% endif %}
										</div>
									</div>
									<div class="card-footer d-flex justify-content-center">
										<div class="mx-4">
											<a href="#" class="btn btn-link p-0" style="text-decoration: none;">
												<i class="bi bi-chat"></i>
												Commentaires
											</a>
										</div>
										<div class="mx-4">
											<a href="#" class="btn btn-link p-0" style="text-decoration: none;">
												<i class="bi bi-heart"></i>
												Like
											</a>
										</div>
										<div class="mx-4">
											<a href="#" class="btn btn-link p-0" style="text-decoration: none;">
												<i class="bi bi-share"></i>
												Partager
											</a>
										</div>
									</div>
								</a>
							</div>
						{% endfor %}
					{% endif %}
				</div>
				<div class="col-md-3 d-flex flex-column p-2 ms-2">
					<!-- Contenu de la troisième colonne -->
					<div class="border border-white mt-3 p-2 flex-grow-1 rounded">
						<h2>Tendances :</h2>
						<ul class="list-unstyled ms-2">
							<li class="mb-2">Item 1</li>
							<li class="mb-2">Item 2</li>
							<li class="mb-2">Item 3</li>
							<li class="mb-2">Item 4</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
{% endblock %}

