<ul class="list-unstyled flex-grow-1 p-4 m-4">
	<a href="{{ path('app_home') }}" class="text-decoration-none">
		<li class="border border-white rounded mb-2 p-2">Logo</li>
	</a>
	<a href="{{ path('app_recherche') }}" class="text-decoration-none">
		<li class="border border-white rounded mb-2 p-2">Recherche</li>
	</a>
	<a href="{{ path('app_notifications') }}" class="text-decoration-none">
		<li class="border border-white rounded mb-2 p-2">Notifications</li>
	</a>
	<a href="{{ path('app_messages') }}" class="text-decoration-none">
		<li class="border border-white rounded mb-2 p-2">Messages</li>
	</a>
	<a href="{{ path('app_groupes') }}" class="text-decoration-none">
		<li class="border border-white rounded mb-2 p-2">Groupes</li>
	</a>
	<a href="{{ path('app_profil') }}" class="text-decoration-none">
		<li class="border border-white rounded mb-2 p-2">Profil</li>
	</a>
	<a href="{{ path('app_reglages') }}" class="text-decoration-none">
		<li class="border border-white rounded mb-2 p-2">Reglages</li>
	</a>
	<li class="border border-white rounded mb-2 p-2">
		<a class="btn btn-primary" href="" role="button">Poster</a>
	</li>
	<li class="border border-white rounded mb-2 p-2">
		<div class="row align-items-center">
			{% if is_granted('IS_AUTHENTICATED_REMEMBERED') %}
				<div class="col-auto">
					<img src="{{ app.user.ProfilPicture }}" alt="Avatar" class="rounded-circle" style="width: 50px; height: 50px;">
				</div>
				<div class="col">
					<div class="dropdown">
						<a href="#" class="d-flex align-items-center text-decoration-none dropdown-toggle" id="dropdownUser" data-bs-toggle="dropdown" aria-expanded="false">
							<p class="mb-0">{{ app.user.nom }}</p>
							<p class="mb-0">@{{ app.user.username }}</p>
						</a>
						<ul class="dropdown-menu" aria-labelledby="dropdownUser">
							<li>
								<a class="dropdown-item" href="{{ path('app_logout') }}">Déconnexion</a>
							</li>
						</ul>
					</div>
				</div>
			{% else %}
				<div class="col-auto">
					<a href="{{ path('app_login') }}" class="btn btn-primary">Se connecter</a>
				</div>
			{% endif %}
		</div>
	</li>
</ul>

