{% extends 'base.html.twig' %}

{% block title %}Conversation avec
{% for participant in participants %}
	{{ participant.username }}
	{% if not loop.last %},
	{% endif %}
{% endfor %}

{% endblock %}

{% block body %}
	<div class="container-fluid d-flex flex-column vh-100 p-2">
		<div class="row flex-grow-1">
			<div class="d-flex align-items-stretch">
				{% include 'components/sidebar.html.twig' %}

				<div class="col-md-6 border-start border-end border-light d-flex flex-column p-3 overflow-auto">
					<h1 class="mb-4">Messages avec avec
						{% for participant in participants %}
							{{ participant.username }}
							{% if not loop.last %},
							{% endif %}
						{% endfor %}
					</h1>
					<ul class="list-group mb-4">
						{% for message in conversation.messages %}
							<li class="list-group-item">
								<strong>{{ message.utilisateur.username }}:</strong>
								{{ message.contenu }}
							</li>
						{% endfor %}
					</ul>

					<form action="{{ path('app_message') }}" method="post" class="d-flex flex-column gap-3">
						<input type="hidden" name="conversation_id" value="{{ conversation.id }}">
						<div class="form-floating">
							<textarea class="form-control" placeholder="Write your message here" name="contenu" id="messageContent" style="height: 100px"></textarea>
							<label for="messageContent">Write your message here</label>
						</div>
						<button type="submit" class="btn btn-primary">Send</button>
					</form>
				</div>
				{% include 'components/right-sidebar.html.twig' %}
			</div>
		</div>
	</div>
{% endblock %}

